/*this is font family*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face{
    font-family: miama;
    src: url(../font/Miama.ttf)
}
.font{
    font-family: miama;
    color: rgb(225, 225, 225);
    font-size: 8rem;
    font-weight: 400;
    
}
/* shared scetion starts here*/

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

* {
    margin: 0;
    padding: 0;

}

.bg-color {
    background-color: #000000;
}

.mobile-responsive {
    display: none;
}

.habit-section-title,
.title,
.title1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.habit-section-title,
.title,
.title1 {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
}

.habit-description,
.habit-images p,
.description,
.fitness-div1 p,
.choose-us {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
}

.title,
.title1 .description,
.choose-us {
    margin-bottom: 30px;
}

/*Shared style ends here*/
/*Header section starts here */

.header-section {
    background: linear-gradient(180deg, rgb(17, 17, 17), rgba(17, 17, 17, 0.9) 100%);
}

/* nav section starts here*/

.nav-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0 50px;
}

.brand-name {
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;
}

.nav-link {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    gap: 50px;
    padding: 2px 2px;
}

.nav-item {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 300;
}

.home {

    color: rgb(255, 255, 255);
    border-radius: 46px;
    background-color: rgb(230, 83, 60);
    padding: 7px 15px;
}

/*nav section  ends here*/
/*banner section starts here */

.banner-section {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.banner-content {
    padding-bottom: 20px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    font-weight: 900;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 30px;
}

.button {
    padding: 18px 40px;
    border-radius: 42px;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    font-size: 1.2rem;
    font-weight: 600;
}

.button-2 {
    padding: 18px 40px;
    border-radius: 42px;
    border: 2px solid whitesmoke;
    color: rgb(255, 255, 255);
    background-color: #1A1A1A;
    font-size: 1.2rem;
    font-weight: 600;
}

.banner-img {
    width: 30%;
    margin-right: 50px;
    position: relative;
}

.banner-img img {
    width: 100%;
    padding: 20px 20px 0;
}

.tutorial-1 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 70px;
    left: -110px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 28px 23px;
}

.circle {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.tutorial-1 p {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
}

.tutorial-1 h4 {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
}

.tutorial-2 {
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    position: absolute;
    bottom: 350px;
    left: 200px;
    padding: 18px 25px;
}

.tutorial-2 h4 {
    color: rgb(255, 255, 255);
    font-size: 3.5rem;
    font-weight: 900;
}

.tutorial-2 p {
    color: rgba(255, 255, 255, 0.65);
    font-size: .9rem;
    font-weight: 400;
}

/*header section ends here*/
/*habit section starts here */

.habit-section-text {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    text-align: center;
}


.habit-section-image {

    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    gap: 50px;
}

.exercise-images {
    border-radius: 50%;
}

.habit-images h4 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: 600;
}


/*habit section ends here  
/*Run section starts here */

.run-section {
    margin: 0 auto;
    background-color: #000000;
}

.run-section-content {
    background-color: #222222;
    width: 80%;
    margin: 90px auto;
    margin-bottom: 30px;
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
}

.run-section-text {
    width: 40%;
    padding: 50px;

}

.run-section-img {
    width: 40%;
    margin: 30px;
}

.run-section-img img {
    border-radius: 18px;
    width: 100%;

}

/*Run ends here*/
/*BMI section starts here */

.bmi-calculator {
    width: 50%;
    margin: 0 auto;
}

.bmi-calculator-chart {

    width: 100%;
    background-color: #222222;

}

.bmi-section-content {
    width: 80%;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
}

.bmi-table {
    width: 35%;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px 20px;
    border: 2px solid #353434;
}

th {
    color: #FFFFFF;
    text-align: left;
}

td,
.trainer-info p {
    color: #ada2a2;
}

.bmi-title {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-weight: 900;
    margin-bottom: 55px;
}


.body-info {
    width: 55%;
}

.bmi-body-info {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
    grid-template-areas:
        "info-1 info-2"
        "info-3 info-4"
        "info-5 info-5"
    ;
}

.info-1 {
    grid-area: info-1;
    border-radius: 8px;
}

.info-2 {
    grid-area: info-2;
    border-radius: 8px;

}

.info-3 {
    grid-area: info-3;
    border-radius: 8px;

}

.info-4 {

    grid-area: info-4;
    border-radius: 8px;
}

.info-5 {
    grid-area: info-5;
    border-radius: 8px;

}

.info {
    color: rgba(255, 255, 255, 0.7);
    background-color: #393939;
    border: none;
    font-size: 16px;
    font-weight: 400;
    padding: 13px 20px;
}


/*BMI section ends here*/
/*Confidence section starts here */


.confidence-section {
    width: 80%;
    margin: 0 auto;
    padding: 50px 0;
    display: flex;
    justify-content: space-between;

}

.confidence-section-image {
    width: 50%;

}

.confidence-section-image1,
.confidence-section-image2 {
    width: 70%;
}

.image1 {
    position: relative;
    top: 30px;

}

.image2 {
    position: relative;
    left: 200px;
    bottom: 30px;
}


.confidence-section-text {
    color: #FFFFFF;
    width: 45%;
    margin: 40px;

}

.title2 {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}
.commitment{
    display: flex;
    gap: 10px;
 
}


.commitment-section {
    color: #FFFFFF;
    padding: 30px;
}

/*Confidence section ends here */
/*Meet section starts here */

.meet-section {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 90px;
}

.meet-section-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.meet-section-img {
    background-color: #222222;
    border-radius: 18px;
    padding: 20px;
    margin: 0 auto;
    width: 80%;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
}

.meet-trainer {
    position: relative;
}

.meet-img {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    object-fit: cover;
}

.trainer-info h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
}

.trainer-info {
    position: absolute;
    left: 30px;
    bottom: 30px;
}

/*Meet section ends here*/
/*footer section starts here */

.footer {
    width: 100%;
    background-color: #222222;
}

.footer-container {
    width: 80%;
    margin: 0 auto;
}

.footer-content {
    display: flex;
    gap: 20px;
    padding: 66px 0;
}

.footer-container>p {
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 35px;
}

.fitness-div1 {
    width: 50%;
}

.fitness-div1 h1 {
    color: rgb(230, 83, 60);
    font-size: 4rem;
    font-weight: 800;
}

.fitness-div1 p {
    padding: 10px;
}

.fitness-div2 {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.get-started h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 700;
}

.get-started p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
}

/*footer section ends here*/